<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <%= link_to :back, class:"page-link" do %>
        <i class="fa-sharp fa-solid fa-chevron-left"></i> Volver
      <% end %>
    </li>
  </ul>
</nav>
