<div class="container">
  <h1>Algo no funcionó</h1>

  <p>Si ha realizado una búsqueda es posible que no exista ese Pokemón</p>
  <p>Por favor vuelve a intentarlo</p>
  <p><%= link_to :back do %>
    <i class="fa-solid fa-circle-chevron-left"></i> Volver
  <% end %></p>
  <hr>
</div>
