<div class="banner mb-4">
  <%= render "shared/banner" %>
  <div class="text-center text-white">
    <h1>Pokédex</h1>
    <h3>Algo no funcionó</h3>
  </div>
</div>
<div class="container">
  <%= render partial: "shared/back" %>
  <div class="text-center">
    <p>Si ha realizado una búsqueda es posible que no exista ese Pokemón</p>
    <p>Por favor vuelve a intentarlo</p>
  </div>
</div>
