<div class="banner mb-4">
  <%= render "shared/banner" %>
  <div class="text-center text-white">
    <h1>Pokédex</h1>
  </div>
</div>
<div class="container">
  <%= render partial: "shared/back" %>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-2 d-flex justify-content-center mb-4">
    <%= render partial: "pokemons/pokemon", locals: { pokemon: @pokemon, show_effect: true, show_evolves: true } %>
  </div>
</div>
